Package: com.dnxtweaks.rainbowtext
Name: RainbowText
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Chu rainbow - Ban quyen thuoc ve admin DNXTWEAKS IOS - Lien He 0395109314
Maintainer: DNXTWEAKS IOS
Author: DNXTWEAKS IOS
Section: Tweaks